@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Glitch&display=swap');
body{
  overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1a1b1b, #171b1d);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

.background {
  overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.circle{
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0;
  animation: expand 3s ease-out forwards;
}

@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.coming-soon{
    font-weight: 200;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    z-index: inherit;
    text-align: center;
    animation: glitch 1s linear infinite;
    color: #fff;
    font-size: 100px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -7px;
    top: 30%;
    display: flex;
}

@media only screen and (max-width: 620px) {
    .coming-soon {
        font-size: 50px;
    }
  }
.coming-soon span{
    display: inline-block;
    z-index: 100;
}

.hovered:hover{
    color: rgb(25, 25, 26);
    text-shadow: 1px 1px 10px white;
}

  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(2deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(3deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .coming-soon:before,
  .coming-soon:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .coming-soon:before{
    animation: glitchTop 0.3s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .coming-soon:after{
    animation: glitchBotom 0.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

@keyframes float-up {
    from {
      top: 60%; /* starting position */
    }
    to {
      top: 40%; /* ending position */
    }
  }




#blob{
    position: absolute;
    background-color: white;
    height: 150px;
    opacity: 0.25;
    aspect-ratio: 1;
    z-index: 0;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #ffffff, #427394);
    animation: rotate 15s infinite;
    filter: blur(50px);
  }

  #blur{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    backdrop-filter: blur(500)px;
  }

  @keyframes rotate{
    from{
      rotate: 0deg;
    }
    to{
      rotate:360deg;
    }
  }

  .lower-logos{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    position: absolute;
    top: 91%;
    left: 50%;
    width: fit-content;
    height: 10%;
    transform: translate(-50%);
  }
  
  
  .lower-logos a img{
    filter: brightness(0) invert(1);
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: -webkit-filter 0.5s ease-in-out;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-outm padding-bottom 0.5s ease-in-out
  }
  
  .lower-logos a img:hover{
    filter: drop-shadow(1px 0px 1px rgba(184, 235, 255, 0.993))
    drop-shadow(-1px 0px 1px rgba(184, 235, 255, 0.993)) brightness(0) invert(1);
    -webkit-filter: drop-shadow(1px 0px 1px rgba(184, 235, 255, 0.993))
    drop-shadow(-1px 0px 1px rgba(184, 235, 255, 0.993)) brightness(0) invert(1);
    opacity: 0.8;
    padding-bottom: 5px;
  }