.loader{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0 0 2em;
    height: 100px;
    width: 30%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
  }

  .loader--style8{
    display: none;
    z-index: 9999999999999999999999999;
  }

  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: rgb(88, 114, 148);
  }
  #layer_1{
    width: 100px;
    height: 100px;
  }