:root {
    --scale-factor: 1.3;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    scrollbar-width: thin;
}
  
  /* background color of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #343435;
    scrollbar-color: #343435;
  }
  
  /* color of the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(84,102,156,1);
    scrollbar-color: rgba(84,102,156,1);
    border-radius: 2rem;
  }
  
  /* color of the scrollbar handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(108, 139, 226);
    scrollbar-color: rgb(108, 139, 226);  
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(140, 161, 221);
    scrollbar-color: rgb(140, 161, 221);  
}


body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(22,74,153,1) 7%, rgba(84,102,156,1) 52%, rgba(59,59,129,1) 93%); 
    background-attachment: fixed;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #343435 #343435;
}

header{

    font-family: 'Bebas Neue', cursive;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #22222267;
    border-bottom: 1px solid rgb(108, 122, 179);
    z-index: 9;

}

header:hover{
    opacity: 1;
    height: 70px;
    border-bottom: 1px solid rgb(108, 122, 179);
}

.scrolled-to-content{
    opacity: 0.75;
    height: 60px;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-out;
    border-bottom: none;
}
  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo img {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  transition: transform 0.25s ease-in-out;
  filter: invert(0.8);
}

.logo:hover img{
    transform: scale(1.1);
}

.menu-button{
    display: none;
}



.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
}

header nav .text:hover{
    border-bottom: 2px solid rgb(182, 193, 238);
}

.nav-left a img:hover{
    filter: drop-shadow(1px 0px 1px rgba(184, 235, 255, 0.993))
    drop-shadow(-1px 0px 1px rgba(184, 235, 255, 0.993)) brightness(0) invert(1);
    -webkit-filter: drop-shadow(1px 0px 1px rgba(184, 235, 255, 0.993))
    drop-shadow(-1px 0px 1px rgba(184, 235, 255, 0.993)) brightness(0) invert(1);
    opacity: 0.8;
    border-bottom: none;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    transition: transform 0.25s ease-in-out;
}
.text:hover{
    transform: scale(1.1);
}
.text:hover img{
    filter: drop-shadow(1px 0px 1px rgba(184, 235, 255, 0.993))
    drop-shadow(-1px 0px 1px rgba(184, 235, 255, 0.993)) brightness(0) invert(1);
    -webkit-filter: drop-shadow(1px 0px 1px rgba(184, 235, 255, 0.993))
    drop-shadow(-1px 0px 1px rgba(184, 235, 255, 0.993)) brightness(0) invert(1);
    opacity: 0.8;
}
.text img{
    width: 28px;
    height: 28px;
    float: left;
}

#discord-logo{
    width: 22;
    height: 22;
}

#ME-logo{
    width: 24;
    height: 22;
}

.text-side.me-button{
    cursor: pointer;
}

.dropdown-ME{
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: fixed;
    flex-direction: column;
    background-color: #22222267;
    border: 1px solid rgb(108, 122, 179);
    left: 340px;
    top: 45px;
    width: 175px;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-ME-visible{
    visibility: visible;
    opacity: 1;
}
.dropdown-ME a{
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgb(108, 122, 179);
}

.dropdown-ME a div{
    transition: transform 0.2s ease-in-out;
}

.dropdown-ME a:hover div{
    transform: scale(1.05);
    text-shadow: 1px 0px 1px white;
}

.ME-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-icon{
    text-shadow: 0px 0px 10px white;
}

.dropdown-wallet-info{
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: fixed;
    flex-direction: column;
    background-color: #22222267;
    border: 1px solid rgb(108, 122, 179);
    margin-top: 43px;
    margin-left: -7px;
    width: 175px;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-wallet-info-visible{
    visibility: visible;
    opacity: 1;
}

.dropdown-wallet-info div{
    padding: 5px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}


.wallet-info-balance-logo{
    margin-left: 10px;
    margin-top: 2px;
    width: 25px;
    height: 25px;
}

.wallet-info-balance-text{
    letter-spacing: 1px;
    margin-left: 5px;
}

.wallet-info-balance-sol{
    margin-left: 10px;
    letter-spacing: 1px;
}

.wallet-info-balance-token{
    margin-left: 10px;
    letter-spacing: 1px;
}





.saisei-text{
    position: fixed;
    top: 45%;
    left: 50%;
    animation: float2 2s ease-in-out infinite;
    opacity: 0.05;
    position: fixed;
    filter: invert(0);
    width: 300px;
}



@keyframes float2 {
    0% {
      transform: translate(-50%,0);
    }
    50% {
      transform: translate(-50%,-10px);
    }
    100% {
      transform: translate(-50%,0);
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes float3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes freefall {

    0%{
        margin-top: 0px;
    }


    100%{
        margin-top: -20px;
    }

    
  }

  @keyframes not-freefall {

    0%{
        margin-top: -20px;
    }


    100%{
        margin-top: 0px;
    }

  }
  


.clouds{
    position: fixed;
}

.clouds-freefall{
    animation: freefall 0.7s cubic-bezier(.39,.14,0,1.17) forwards !important;
}

.clouds-not-freefall{
    animation: not-freefall 0.7s cubic-bezier(.39,.14,0,1.17) forwards !important;
}

.cloud1{
    opacity: 0.2;
    top: 50px;
    width: 200px;
    height: 100px;

    left: 70%;
    animation: float 3.3s ease-in-out infinite;
}

.cloud2{
    opacity: 0.2;
    top: 200px;
    width: 200px;
    height: 100px;
    left: 30%;
    animation: float 3s ease-in-out infinite;

}

.cloud3{
    opacity: 0.2;
    top: 100px;
    width: 150px;
    height: 75px;
    left: 1%;
    animation: float 2s ease-in-out infinite;

}

.cloud4{
    opacity: 0.2;
    top: 400px;
    width: 200px;
    height: 100px;
    left: 10%;
    animation: float 2.8s ease-in-out infinite;
}

.cloud5{
    opacity: 0.2;
    top: 500px;
    width: 200px;
    height: 100px;
    left: 30%;
    animation: float 2.5s ease-in-out infinite;
}

.cloud6{
    opacity: 0.2;
    top: 700px;
    width: 250px;
    height: 125px;
    left: 50%;
    animation: float 4s ease-in-out infinite;

}

.cloud7{
    opacity: 0.2;
    top: 300px;
    width: 250px;
    height: 125px;
    left: 75%;
    animation: float 3.2s ease-in-out infinite;
}

.up-arrow-container{
    position: fixed;
    display: none;
    bottom: 40px;
    right: 40px;
    background:linear-gradient(0deg, rgb(115, 158, 223) 7%, rgba(84,102,156,1) 52%, rgba(59,59,129,1) 93%) ;
    padding: 10px;
    border-radius: 20rem;
    animation: float3 2s ease-in-out infinite;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    width: 60px;
    height: 60px;
    z-index: 2;
}

.up-arrow-container:hover{
    opacity: 1;
}


.up-arrow1{
    position: absolute;
    width: 40px;
    height: 40px;
    filter: invert(1);
    left: 50%;
    transform: translateX(-50%);
    margin-top: -2px;
}

.arrow-float-up{
    animation: vanish 0.5s ease-in-out forwards;
    margin-top: -2px;
}

@keyframes vanish {
    0% {
        opacity: 1;
        margin-top: -2;
    }
    100% {
        opacity: 0;
        margin-top: -30;
    }
  }

.up-arrow2{
    position: absolute;
    width: 40px;
    height: 40px;
    filter: invert(1);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.up-arrow3{
    position: absolute;
    width: 40px;
    height: 40px;
    filter: invert(1);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 22px;

}

.side-menu{
    z-index: 9999;
    width: 0px;
    position: fixed;
    height: 100%;
    background-color: #22222267;
    transition: width 0.5s ease-in-out , margin-top 0.2s ease-in-out;
    margin-top: 60px ;

}

.side-menu-appear{
    width: 150px;
}

.text-side{
    font-family: 'Bebas Neue', cursive;
    display: none;
    opacity: 0;
    position: relative;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px ;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(84, 102, 156, 0.575);
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    width: 120px;
    border-radius: 3rem;
    margin-left: 18px;
}

.text-side-appear{
    display: block;
    opacity: 1;
}

.rights{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 15;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: #22222267;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(108, 122, 179);
}



@media only screen and (min-width:750px){
    .saisei-text{
        width: initial;
    }
    .side-menu{
        display: none;
    }
    
}

@media only screen and (max-width:750px){
    .text{
        display: none;
    }

    .text-side{
        display: block;
    }

    .logo img{
        margin-left: -13px;
    }

    .menu-button{
        display: block;
        cursor: pointer;
    }
    .nav-left{
        margin-left: -22px;
    }

    .dropdown-ME{
        left: 150px;
        top: 220px;

    }

    .dropdown-wallet-info{
        left: 71.2%;
    }
}

@media only screen and (max-width:550px){

    .dropdown-wallet-info{
        left: 52%;
    }

}
