
:root{
    --current-y: 0px;
}

@keyframes reset {

    0% {
        transform: translateY(var(--current-y));
      }
    100% {
        transform: translateY(0px);
      }
  }



.sized-box-top{
    width: 100%;
    height: 70px;
}

.pools-container{
    display: flex;
    position: relative;
    position: relative;
    width: 100%;
    height: 1000px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pool{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    aspect-ratio: 9/16;
    border-radius: 2rem;
}

.pool .logo-container img{
    position: absolute;
    opacity: 0.8;
    width: 60px;
    height: 60px;
    margin-top: 15px ;
    border-radius: 20rem;
    transition: transform 0.3s ease-in-out , opacity 0.3s ease-in-out ;
}

.pool .logo-container .qm-grey{
    opacity: 0;
    cursor: pointer;
}

.pool .logo-container{
    width: 25%;
    height: fit-content;
}

.pool:hover .logo-container .pool-logo{
    transform: scale(1.1);
    opacity: 1;
}


.logo-container:hover .qm-grey{
    opacity: 0.6;
}

.pool:hover{
    transform: scale(1.02);
}

#sol-pool{
    background: linear-gradient(45deg, rgba(165, 23, 190, 0.3) -10%, rgba(1, 137, 155, 0.6) 65%, rgba(0,255,163,0.3) 95%);
    transition: background 2s ease-in-out , transform 0.4s ease-in-out ;
}

#usdc-pool{
    background: linear-gradient(45deg , rgba(39, 117, 202,0.5) 0%, rgba(85, 157, 233,0.5) 100% );
    transition: background 0.4s ease-in-out , transform 0.4s ease-in-out;
}

#bonk-pool{
    background: linear-gradient(45deg , rgba(172, 99, 4, 0.5) 0%, rgba(248, 141, 1, 0.5) 100% );
    transition: background 0.4s ease-in-out , transform 0.4s ease-in-out;
}





#sol-pool:hover{
    background: linear-gradient(45deg, rgba(165, 23, 190, 0.4) -10%, rgba(1, 137, 155, 0.6) 65%, rgba(0,255,163,0.4) 95%);
}

#usdc-pool:hover{
    background: linear-gradient(45deg , rgba(39, 117, 202,0.6) 0%, rgba(85, 157, 233,0.6) 100% );
}

#bonk-pool:hover{
    background: linear-gradient(45deg , rgba(172, 99, 4, 0.6) 0%, rgba(248, 141, 1, 0.6) 100% );
}

.dot{
    opacity: 1;
    transform: scale(1);
    height: 10px;
    width: 10px;
    border-radius: 20rem;
    transition: transform 0.2s ease-in-out , opacity 0.2s ease-in-out;
    position: relative;
}

.status-container{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-evenly;
    width: 100px;
    margin-right: 220px;
    margin-top: 20px;
    letter-spacing: 1px;
}


.is-inactive{
    color: rgb(204, 20, 20);
}

.is-active{
    color: rgb(28, 240, 187);
}

.red-dot{
    background-color: rgb(204, 20, 20);
}
.green-dot{
    background-color: rgb(28, 240, 187);
}

@keyframes blinking {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }

}
.blink{
    position: absolute;
    animation: blinking 0.55s ease-in-out forwards ;
}



.info-sum{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;;
    border-radius: 1rem;
    width: 80%;
    height: 62%;
    background-color: #22222267;
    margin-top: 42%;
}

.info-top{
    background-color: #222222c5;
    width: 80%;
    height: 20%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;;
}

.rate-text{
    margin-top: 0px;

    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    text-align: center;
    font-size: 18;
}

.rate-info{
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    text-align: center;
    font-size: 15;
}

.rate-info span{
    color: #cc1414;
}

.exchange-rate-green{
    color: #1cf0bb !important;
}

.refresh-ind{
    position: absolute;
    width: 18px !important;
    height: 18px !important;
    left: 78%;
    top: 10%;
    transition: transform 0.8s ease-in-out,filter 0.8s ease-in-out;
    cursor: pointer;
    border-radius: 20rem;

}

@keyframes refresh {

    0%{
        transform: rotate(0deg) scale(1.0);
    }

    100%{
        transform: rotate(360deg) scale(1.0);
    }
    
}

.refresh-ind:hover{
    transform: rotate(250deg) scale(1.0);
    filter: invert(0.75);
}

.refresh-ind-spinning{
    filter: invert(0.75);
    animation: refresh 0.8s infinite linear;

}
.info-mid{
    background-color: #22222294;
    width: 80%;
    height: 50%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    color: white;
    font-size: 13;
    font-family: 'Bebas Neue', cursive;
    
}

.info-mid .info-slot{
    background-color: #22222294;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.info-mid-text1{
    margin-left: 15px;
    width: 70px !important;
}

.info-mid-text2{
    background-color: #222222ea;
    border-radius: 2rem;
    padding: 2px 4px 2px 4px;
    width: fit-content;
    min-width: 40px;
    margin-left: 6px;
    text-align: center;
    word-wrap: break-word;
}

.date-active{
    color: orange;
}

.date-active-late{
    color: rgb(204, 20, 20)
}



.pool-button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 1rem;
}

.pool-button-inactive{
    box-shadow: 0px 0px 0px #cc1414;
    opacity: 1;
    cursor: not-allowed !important;
    background: linear-gradient(90deg, #57555581, #41414188);
    color: rgb(148, 147, 147);
    transition: box-shadow 0.3s ease-in-out;
}

.pool-button-inactive:hover{
    box-shadow: 0px 0px 5px #990c0c;
    background: linear-gradient(90deg, #57555581, #41414188);
    color: rgb(148, 147, 147);
}

.modal2{
    display: none;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    overflow: auto;
  }
  
.modal2-box {
  background: rgb(0, 4, 20);
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  text-align: left;
  animation-name: modalFadeIn;
  animation-duration: 1s;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal2-title {
  font-family: 'Bebas Neue', cursive;    
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.modal2-content {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.deposit-amount-container{
    width: 100%;
    height: 65px;
    background:linear-gradient(90deg, rgb(22, 25, 36) 2%, #4e4e50 50%, rgb(22, 25, 36) 98%);
    border-radius: 1rem;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.amount-indicator{
    background: linear-gradient(90deg, #000414 2%, #000414b7 50%, #000414 98%);
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 20;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    letter-spacing: 0px;
}

.slider {
    width: 90px;
    height: 30px;
    background: linear-gradient(90deg, rgb(22, 25, 36) 2%, #4e4e50 50%, rgb(22, 25, 36) 98%);
    position: relative;
    border-radius: 2rem;
  }
  
  .slider-bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    overflow: hidden;
    
  }
  
  .slider-progress {
    margin-left: 5px;
    margin-top: 8px;
    width: 0;
    height: 50%;
    background: linear-gradient(90deg, #000414 2%, #000414b7 50%, rgb(67, 67, 68) 98%);
    border-radius: 20rem 5rem 5rem 20rem;  
}
  
  .slider-handle {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #aaa;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 0;
  }
  
  .slider-value {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: rgb(211, 211, 211);
  }

.max-button{
    border-radius: 5px;
    font-size: 18;
    width: 40px;
    height: 30px;
    color: white;
    background: linear-gradient(90deg, #000414 2%, #000414b7 50%, #000414 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;  
}

.max-button:hover{
    background: linear-gradient(90deg, #010516 2%, #010825b7 50%, #010824 98%);


}

.deposit-modal-button{
  width: 120px;
  margin-top: 20px;
  padding: 13 15 12 15;
  font-size: 18;
  background: linear-gradient(90deg, #3d33a1, #2c2482) !important;
}

.deposit-modal-button:hover{
  background:linear-gradient(90deg, #4a439c, #3d33a1) !important;
}

.wallet-btn.deposit-modal-button.return{
    width: 120px;
    margin-top: 20px;
    padding: 13 15 12 15;
    font-size: 18;
    background: #702626 !important;
    margin-top: 2px;
}
  
.wallet-btn.deposit-modal-button.return:hover{
    background: linear-gradient(90deg, #975e5e 0%, #834242 80%) !important;
}




.portfolio-header-title{
    width: 100%;
    height: 80px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    font-size: 45;
    margin-bottom: 80px;
    background-color: #22222267;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out , box-shadow 0.2s ease-in-out;
    border: 1px solid rgb(108, 122, 179);
}
.portfolio-header-title:hover{
    background-color: #22222294;
    box-shadow: 0px 0px 10px rgb(108, 122, 179);
}

.portfolio-header-title span{
    transition: transform 0.2s ease-in-out;
}

.portfolio-header-title:hover span{
    transform: scale(1.10);
}

.portfolio-container{
    width: 70%;
    height: 600px;
    background: none;
    border-radius: 4rem ;
    position: relative;
    margin-bottom: 70px;
}

.pending-connection{
    height: 600px !important;
}

.init-portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    font-size:  24;
}

.init-portfolio .not-connected{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    height: 30%;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.connected-portfolio{
    background:linear-gradient(90deg, #1f1e1eab, rgba(103, 97, 168, 0.651));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.connected-portfolio .portfolio-segment{
    height: 22%;
    width: 75%;
    background-color: #16133f;
    border-radius: 2rem;
    background:linear-gradient(90deg,  #00000085 50%,  #00000085 50% );
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: hidden;
    overflow-y: hidden;
}

.connected-portfolio .portfolio-segment .segment-title{
    padding-bottom: 5px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    background-color: #00000083;
    border-radius: 2rem 2rem 0rem 0rem;
    font-size: 25;
}

.connected-portfolio .portfolio-segment .pool-inactive{
    position: absolute;
    padding-bottom: 5px;
    margin-top: 17%;
    width: 100%;
    text-align: center;
    font-size: 30;
}

.portfolio-segment.portfolio-overview{

    height: 350px !important;
}

.segment-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18;
    letter-spacing: 1px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    width: 100%;
    height: 75%;
}

.segment-content-container{
    background-color: #00000083;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    width: 45%;
    padding: 2px 0px 2px 0px;
    margin-bottom: -5px;
    margin-top: 10px;
}

.withdraw-container{
    width: 0% !important;
}

.segment-content-header{
    text-align: left;
}

.claim-notifier{
    border-radius: 2rem;
    background-color: #22222294;
    left: 50%;
    top: 6%;
    transform: translateX(-50%);
    position: absolute;
    width: 60%;
    height: 100px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: x-large;
    transition: transform 0.3s ease-in-out;
}

.claim-notifier .claim-anchor{
    font-size: 25;
    cursor: pointer;
    color: #14ffc4;
    padding: 5px 10px 5px 10px;
    background-color: #22222250;
    transition: transform 0.3s ease-in-out ,background-color 0.3s ease-in-out;
    border-radius: 2rem;
    border: 2px solid #14ffc4;
}

.claim-anchor:hover{
    background-color: #222222;
    transform: scale(1.1);
}


.faq-container{
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.faq-header-title{
    width: 100%;
    height: 80px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    font-size: 45;
    margin-bottom: 80px;
    background-color: #22222267;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out , box-shadow 0.2s ease-in-out;
    border: 1px solid rgb(108, 122, 179);
}
.faq-header-title:hover{
    background-color: #22222294;
    box-shadow: 0px 0px 10px rgb(108, 122, 179);
}

.faq-header-title span{
    transition: transform 0.2s ease-in-out;
}

.faq-header-title:hover span{
    transform: scale(1.10);
}

.faq{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start ;
    position: relative;
    width: 300px;
    height: fit-content;
    background:linear-gradient(90deg, #2c2482, rgb(61, 51, 161,0.1) );
    border-radius: 4rem ;
    transition: opacity 0.5s ease-in-out , transform 0.5s ease-in-out;
    margin-bottom: 200px;
}

.faq:hover{
    transform: scale(1.02) translateX(0);
}

.faq-hidden{
    opacity: 0.5;
    transform: translateX(-50%);
}

.faq-hidden2{
    opacity: 0.5;
    transform: translateX(50%);
}

.faq-visible{
    opacity: 1;
    transform: translateX(0);
}

.faq-title{
    white-space: nowrap;
    width: 80%;
    height: 50px;
    font-size: 25;
    border-radius: 2rem;
    background:linear-gradient(90deg, #00000085 50%,  rgb(61, 51, 161,0) );
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    color: white;
    margin-top: 30px;
    margin-left: 30px ;
}
.faq-title span{
    position: relative;
    left: 40px;
    top: 10px;
}

.faq-content{
    position: relative;
    width: 80%;
    border-radius: 2rem;
    background:linear-gradient(90deg, #23232493, rgb(61, 51, 161,0) );
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin-top: 30px;
    margin-left: 30px ;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start ;
    margin-bottom: 20px;
}

.question-container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.question-container:hover .question {
    box-shadow: 0px 0px 3px rgb(108, 122, 179);
}

.question-container:hover .question-dot {
    text-shadow: 0px 0px 20px rgb(108, 122, 179);
}
.question-container:hover .question .arrow-down-question{
    color: #00000085;
}


.question-dot{
    font-size: 60;
    color: #00000085;
    margin-left: 20px;
    margin-top: -12px;
}

.question{
    position: relative;
    width: 100%;
    font-size: 15;
    border-radius: 2rem;
    background:linear-gradient(90deg,  #00000085 50%, rgb(61, 51, 161,0) );
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    color: white;
    margin-left: 10px ;
    height: 40px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    transition: padding-bottom 0.5s ease-in-out ,border-radius 0.1s ease-in-out;
    padding-bottom: 0px;
}
.question-clicked{
    padding-bottom: 100px;
    border-radius: 1rem;
}

.question-title{
    width: 100%;
}

.question span{
    position: relative;
    left: 40px;
    top: 10px;
}

.arrow-down-question{
    position: relative;
    float:right;
    top: 7px;
    margin-right: 10px;
    font-size: 20;
}

.answer{
    margin-top: 16px ;
    position: relative;
    width: 100%;
    padding-bottom: 80px;
    font-size: 15;
    background:linear-gradient(90deg,  #000000bd 50%, rgba(60, 51, 161, 0.247) );
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    color: white;
}
.answer span{
    opacity: 0.3;
    display: inline-block;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
    width: 90%;
    word-wrap: break-word;

}
.answer-shown{
    transform: translateX(0px) !important;
    opacity: 1 !important;
}





@media only screen and (max-width:799px){

    .init-portfolio .not-connected{
        height: 20%;
        width: 75%;
    }

    .pools-container{
        flex-direction: column;
        height: fit-content;
    }
    .pool{
        width: 420px;
        height: 746;
        margin-top: 30px;
    }

    .pool .logo-container img{
        width: 100px;
        height: 100px;
    }
    .faq{
        width: 420px ;
    }
    .portfolio-container{
        width: 420px ;
        height: 1200px;
    }

    .faq-container{
        margin-top: 100px;
    }

    .info-top span{
        font-size: 25;
    }

    .refresh-ind{
        width: 25px !important;
        height: 25px !important;
    }

    .info-mid .info-slot{
        font-size: 18;
    }
    
    .info-mid-text1{
        width: 100px !important;
    }
    
    .info-mid-text2{
        margin-left: 20px;
        min-width: 60px;
    }

    .segment-content{
        font-size: 15;
        height: 87%;
    }
    .segment-content-container{
        width: 175px;
    }
}

@media only screen and (max-width:550px){

    .pools-container{
        flex-direction: column;
        height: fit-content;
    }
    .pool{
        width: 300px;
        height: 533px;
        margin-top: 30px;
    }

    .pool .logo-container img{
        width: 80px;
        height: 80px;
    }

    .status-container{
        width: 100px;
        margin-right: 130px;
    }

    .faq{
        width: 310px;
    }
    .portfolio-container{
        width: 310px ;
        height: 1200px;
    }

    .faq-container{
        margin-top: 100px;
    }

    .info-top span{
        font-size: 15;
    }

    .refresh-ind{
        width: 25px !important;
        height: 25px !important;
    }

    .info-mid .info-slot{
        font-size: 12;
    }
    
    .info-mid-text1{
        margin-left: 15px;
        width: 70px !important;
    }
    
    .info-mid-text2{
        margin-left: 8px ;
        min-width: 40px;
    }

    .segment-content{
        font-size: 14;
        height: 87%;
    }

    .segment-content-container{
        width: 150px;
    }
}

@media only screen and (min-width:800px){

    .pool{
        width: 250px;
        margin-bottom: 150px;
    }
    .pool .logo-container img{
        width: 70px;
        height: 70px;
    }
    .status-container{
        width: 100px;
        margin-right: 100px;
    }
    .faq{
        width: 650px;
    }
    .portfolio-container{
        width: 650px ;
        height: 1400px;
    }

    .segment-content{
        font-size: 21;
        height: 87%;
    }

}


@media only screen and (min-width:1000px){


    .pool{
        width: 300px;
    }

    .pool .logo-container img{
        width: 75px;
        height: 75px;
    }

    .status-container{

        width: 100px;
        margin-right: 140px;

    }
    .faq{
        width: 800px;
    }
    .portfolio-container{
        width: 800px ;
        height: 1400px;
    }

    .refresh-ind{
        width: 22px !important;
        height: 22px !important;
    }

    .claim-notifier{
        top: 4%;
    }

    .info-mid .info-slot{
        font-size: 14;
    }
    
    .info-mid-text1{
        margin-left: 15px;
        width: 80px !important;
    }
    
    .info-mid-text2{
        margin-left: 8px ;
        min-width: 40px;
    }
}

@media only screen and (min-width:1300px){

    .pool{
        width: 350px;
    }

    .pools-container{
        padding-top: 20px;
    }
    .pool .logo-container img{
        width: 100px;
        height: 100px;
    }

    .status-container{

        width: 100px;
        margin-right: 200px;

    }

    .faq{
        width: 1000px;
    }
    .portfolio-container{
        width: 1000px ;
        height: 1500px;
    }

    .info-top span{
        font-size: 22;
    }

    .refresh-ind{
        width: 25px !important;
        height: 25px !important;
    }

    .claim-notifier{
        top: 2%;
    }

    .info-mid .info-slot{
        font-size: 18;
    }
    
    .info-mid-text1{
        margin-left: 15px;
        width: 97px !important;
    }
    
    .info-mid-text2{
        margin-left: 5px ;
        min-width: 40px;
    }

    .segment-content{
        font-size: 23;
        height: 85%;
    }

    .connected-portfolio .portfolio-segment .pool-inactive{
        margin-top: 14%;
    }
}

@media only screen and (min-width:1600px){


    .pool{
        width: 400px;
        margin-bottom: 150px;
    }

    .pools-container{
        padding-top: 50px;
    }

    .pool .logo-container img{
        width: 120px;
        height: 120px;
    }

    .status-container{

        width: 100px;
        margin-right: 230px;
    }

    .faq{
        width: 1500px;
    }
    .portfolio-container{
        width: 1500px ;
    }

    .info-top span{
        font-size: 25;
    }

    .refresh-ind{
        width: 28px !important;
        height: 28px !important;
    }

    .claim-notifier{
        top: 1%;
    }

    .connected-portfolio .portfolio-segment .pool-inactive{
        margin-top: 10%;
    }

}

